.modal-contact {
    display: none;
    flex-flow: column nowrap;
    position:fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    color: white;
}
.modal-contact-content #close{
    width: 40px;
    align-self: flex-end;
    cursor: pointer;
}
.modal#cn{
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
    cursor: pointer;
}
.modal #close{
    width: 90px;
}
@keyframes fall{
    from{
        margin-top: 0px;
    }
    to{
        margin-top: 1200px;
    }
}
@keyframes rise{
    from{
        margin-top: 1200px;
    }
    to{
        margin-top: 0px;
    }
}
.modal-contact-content {
    display: flex;
    flex-flow: wrap column;
    row-gap: 30px;
    background-color: #553939;
    margin:1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 20px;
}
.modal-contact-content #upload, #cancel{
    background-color: #805858;
    border: none;
    padding: 5px;
    border-radius:5px;
    padding: 10px 30px 10px 30px;
    border-radius:10px;
    cursor: pointer;
    color: white;
}
.modal-contact-content #ok{
    width:fit-content;
    display: flex;
    flex-flow: wrap row;
    gap: 10px;
    justify-content: space-between;
    align-self: center;
}
.modal-contact-content #cn{
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
}
.modal-contact-content #upload-button{
    border:5px solid #805858;
    background-color: #805858;
    cursor: pointer;
}
.contact #isLink{
    padding: 5px;
    background-color: #805858;
}
.modal-contact-content #nc{
    align-self: last baseline;
}
.modal-contact-content #name{
    border: none;
    background-color: #805858;
    border-radius:5px;
    padding: 5px;
    width: 90%;
}
#contact-pref{
    width: 40px;
    cursor: pointer;
}
.contactPlus{
    align-self: center;
}
#contact-plus{
    width: 90px;
    cursor: pointer;
}
