
.modal-division {
    display: none;
    position:fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}
.modal-division-content #close{
    width: 80px;
    align-self: flex-end;
}
@keyframes fall{
    from{
        margin-top: 0px;
    }
    to{
        margin-top: 1200px;
    }
}
@keyframes rise{
    from{
        margin-top: 1200px;
    }
    to{
        margin-top: 0px;
    }
}
.modal-division-content {
    display: flex;
    flex-flow: wrap column;
    row-gap: 20px;
    background-color: #553939;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 20px;
}
.modal-division-content #file-upload{
    z-index: -1;
    display: none;
}
.modal-division-content #file-upload input[type="file"]{
    z-index: -1;
    display: none;
}
.modal-division-content #name{
    border: none;
    background-color: #805858;
    border-radius:5px;
    padding: 5px;
}
.modal-division-content #upload, #cancel{
    background-color: #805858;
    border: none;
    border-radius:5px;
    padding: 10px 30px 10px 30px;
    border-radius:10px;
}
.modal-division-content #ok{
    align-self: center;
}
.modal-division-content #cn{
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
}
.modal-division-content #upload-button{
    border:10px solid #805858;
    background-color: #805858;
}
.modal-division-content #br{
    width: 92.5%;
    align-self: last baseline;
}
.modal-division-content #nc{
    align-self: last baseline;
}
.modal-division-content #preview{
    max-width: 85%;
    max-height: 85%;
    align-self:center;
}
.pref{
    width: 80px;
}
