:root {
    --nav-element-color: #D9D9D9;
    --nav-bgc: #222222;
    --body-bgc: #EDEEF0;
    --form-bgc: #553939;
    --input-bgc: #805858;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--body-bgc);
}

main {
    padding: 0px 10%;
}

.slider {
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.slide span {
    display: block;
    position: absolute;
    font-size: 2rem;
    color: var(--nav-element-color);
    right: 13%;
    top: 15%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    height: fit-content;
    width: fit-content;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media screen and (width < 600px) {
    .slide span {
        right: 0;
        left: 0;
        bottom: 20%;
        font-size: 1.5rem;
        margin: auto;
        text-align: center;
    }
}

p.about {
    margin-top: 50px;
    text-align: justify;
}

.infografica {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.infografica h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;

}

.infografica img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
}

.divisions {
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divisions .division {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    max-width: 400px;
    max-height: 300px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: .4s;
}

.divisions .division:hover {
max-width: 420px;
}

.divisions .division img {
    width: 100%;
    max-height: 250px;
}

.divisions .division .title {
    font-size: 1.250rem;
    text-align: center;
}

.chronics {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 30px;
}

.chronics img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 500px;
}

.chronics .years {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
    border-bottom: 2px solid black;
}

.chronics .years .year {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -6px;
}

.chronics .years .year a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.chronics .years .year .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}

.literature {
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.maps {
    display: block;
    margin: 150px auto;
    position: relative;
    width: fit-content;
}

.maps img {
    max-width: 100%;
    max-height: 500px;
    filter: blur(3px);
}

.maps h2 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: var(--nav-element-color);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 6px;
    border-radius: 12px;
}
