@font-face {
    font-family:Inter;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    font-family:Inter;
    color: white;
}
.modal-literature {
    display: none;
    flex-flow: column nowrap;
    position:fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}
.modal-literature-content #close{
    width: 40px;
    align-self: flex-end;
    cursor: pointer;
}
.modal#cn{
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
    cursor: pointer;
}
.modal #close{
    width: 90px;
}
@keyframes fall{
    from{
        margin-top: 0px;
    }
    to{
        margin-top: 1200px;
    }
}
@keyframes rise{
    from{
        margin-top: 1200px;
    }
    to{
        margin-top: 0px;
    }
}
.modal-literature-content {
    display: flex;
    flex-flow: wrap column;
    row-gap: 30px;
    background-color: #553939;
    margin:1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 20px;
}
.modal-literature-content #upload, #cancel{
    background-color: #805858;
    border: none;
    padding: 5px;
    border-radius:5px;
    padding: 10px 30px 10px 30px;
    border-radius:10px;
    cursor: pointer;
}
.modal-literature-content #ok{
    width: 40%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-self: center;
}
.modal-literature-content #cn{
    display: flex;
    align-self: flex-end;
    flex-flow: row-reverse;
}
.modal-literature-content #upload-button{
    border:5px solid #805858;
    background-color: #805858;
    cursor: pointer;
}
.literature #isLink{
    padding: 5px;
    background-color: #805858;
}
.modal-literature-content #nc{
    align-self: last baseline;
}
.modal-literature-content input{
    border: none;
    background-color: #805858;
    border-radius:5px;
    padding: 5px;
    width: 70%;
}
.pref{
    width: 80px;
    cursor: pointer;
}
.literaturePlus{
    align-self: center;
}
#plus{
    width: 90px;
    cursor: pointer;
}
